/* Reset some default browser styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0 ;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header{
  background-color: #1a1a1a;
  padding: 16px;

}

nav ul{
  display: flex;
  justify-content: flex-end;
}

nav ul li a{
  color: #fff;
  padding: 4px 8px;

}

nav ul li a:hover{
  background-color: aqua;
  border-radius: 5px;
}

main{
  padding: 80px;
}





.cart {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
    margin-top: 100px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .item-details {
    flex: 1;
  }
  
  .quantity-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px
  }